/* paleta de colores utilizada: https://palettes.shecodes.io/palettes/1448 */

/* Inicio header*/

header{
    background-color: #38598b;
    height: 65px;
    width: 100vw;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e7eaf6;
}

header div{
    height: 100%;
    margin-right: 300px;
    margin-left: 300px;
}

header h1{

    height: 100%;
    display: inline-block;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
}

nav{
    display: inline;
    float: right;
}

nav ul li{
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding-right: 15px;
    font-size: 20px;
}

/* Fin header*/

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form-container{
    width: 30%;
    padding: 60px;
    margin-top: 200px;
    background-color: #a2a8d3;
    border-radius: 10px;
}

.form-title-container{
    text-align: center;
    font-weight:bold;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.form-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input-container input{
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

.form-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-button-container button{
    padding: 10px;
    background-color: #113f67;
    color: white;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.form-button-container button:hover{
    background-color: white;
    color: #113f67;
}