.table-title {
    text-align: left; /* Alinea el título a la izquierda */
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px; /* Agrega un espacio inferior */
    background-color: #a2a8d3; /* Color de fondo del título */
    color: #fff; /* Color del texto del título */
    padding: 10px 15px; /* Añade un espaciado alrededor del título */
}

/* Estilos mejorados para la tabla */
.lista-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.lista-table th, .lista-table td {
    text-align: center;
    padding: 12px; /* Aumentar el espaciado dentro de las celdas */
    border: 1px solid #ccc; /* Utilizar un borde más suave */
    font-family: 'Open Sans', sans-serif; /* Aplicar la fuente Open Sans a las celdas */
}

.lista-table th {
    background-color: #a2a8d3;
    color: #fff;
    font-weight: bold;
}

.lista-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.lista-table a {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.imagen-icono {
    width: auto; /* Ajusta el valor según tus preferencias */
    height: 20px; /* Esta regla mantiene la proporción original de la imagen */
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}