.table-container {
    width: 60%;
    padding: 60px;
    margin-top: 200px;
    background-color: #a2a8d3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-title-container {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos mejorados para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    padding: 12px; /* Aumentar el espaciado dentro de las celdas */
    border: 1px solid #ccc; /* Utilizar un borde más suave */
    font-family: 'Open Sans', sans-serif; /* Aplicar la fuente Open Sans a las celdas */
}

.table th {
    background-color: #a2a8d3;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Estilos para el botón en el formulario */
form button[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Eliminar el borde del botón */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
    font-family: 'Open Sans', sans-serif; /* Aplicar la fuente Open Sans al botón */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos adicionales para el botón al pasar el cursor sobre él */
form button[type="submit"]:hover {
    background-color: #0056b3; /* Cambiar el color de fondo al pasar el cursor */
}
