/* Estilos para el formulario */
.form-container {
width: 80%;
max-width: 600px; /* Ancho máximo para el formulario */
margin: 100px auto; /* Centrar horizontalmente y ajustar el margen superior */
padding: 20px;
background-color: #f5f5f5;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

/* Estilos para el título del formulario */
.form-title-container {
text-align: center;
font-weight: bold;
font-size: 24px;
font-family: 'Open Sans', sans-serif;
margin-bottom: 20px; /* Espacio inferior para separar el título de los campos */
}

/* Estilos para los campos de entrada y etiquetas */
.form-input-container {
display: flex;
flex-direction: column;
gap: 15px; /* Espacio entre elementos */
}

/* Estilos para etiquetas de entrada */
label {
font-weight: bold;
}

/* Estilos para los campos de entrada */
input[type="text"],
select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

/* Estilos para el botón */
.form-button-container {
text-align: center;
margin-top: 20px; /* Espacio superior para separar el botón de los campos */
}

button[type="submit"] {
padding: 10px 20px;
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
font-size: 16px;
}

button[type="submit"]:hover {
background-color: #45a049;
}

/* Estilos para el fondo del formulario */
body {
background-color: #f0f0f0; /* Cambia el color de fondo de la página */
}
