{{#partial "contenido" }}
    <link rel="stylesheet" href="/css/administracionUsuarios.css">

     <div class = "table-container">
        <div class ="table-title-container">
                <h3>Lista De Usuarios</h3>
        </div>
        <table class="lista-table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Rol</th>
            </tr>
            <tbody>
            {{#each usuarios}}
                <tr>
                    <td>{{this.username}}</td>
                    <td>{{this.mail}}</td>
                    <td>{{this.rol.nombre}}</td>
                    <td><a href="/administracion/usuarios/{{this.id}}">
                          <img src="/archivos/editIcon.png" alt="Icono para editar la foto" class = "imagen-icono-editar">
                        </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
     </div>
{{/partial}}
{{> templates/base }}