{{#partial "contenido" }}
    <link rel="stylesheet" href="css/login.css">

    <div class = "form-container">
        <div class ="form-title-container">
            <h3>Iniciar Sesi칩n</h3>
        </div>

        <form action="login" method = "post">

            <div class ="form-input-container">
                <label><b>Usuario</b></label>
                <input type="text" name="usuario" required>
                <label><b>Contrase침a</b></label>
                <input type="text"name="contrase침a" required>
            </div>

            <div class = "form-button-container">
                <button type="submit">Iniciar Sesi칩n</button>
            </div>

        </form>
    </div>
{{/partial}}
{{> templates/base }}