{{#partial "contenido" }}
    <link rel="stylesheet" href="/css/crearComunidad.css">

    <div class = "form-container">
        <div class ="form-title-container">
            <h3>Crear Comunidad</h3>
        </div>

        <form action="" method = "post">

            <div class ="form-input-container">
                <label><b>Nombre</b></label>
                <input class = "campo_entrada" type="text" name="nombre" required>
            </div>


            <div class = "form-button-container">
                <button type="submit">Crear</button>
            </div>

        </form>
    </div>
{{/partial}}
{{> templates/base }}