{{#partial "contenido" }}
    <link rel = "stylesheet" href = "/css/listaComunidades.css">

    <div class = "table-container">
        <div class ="table-title-container">
                <h3>{{titulo}}</h3>
        </div>
        <table class="lista-table">
            <tr>
                <th>Nombre</th>
            </tr>
            <tbody>
            {{#each comunidades}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>
                        <a href="/comunidades/unirme/{{this.id}}" class="button-like">Unirse</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
     </div>

{{/partial}}
{{> templates/base }}