<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sistema de Apoyo a Comunidades con Movilidad Reducida</title>
</head>
<body>
    <header>
        <div>
            <h1> <a href="/home">S.A.C.M.R.</a></h1>

            <nav class ="main-nav">
                <ul>
                    {{#if logeado}}
                        {{#if MIEMBRO}}
                            <li class="menu-item">Incidentes
                                <ul class="sub-menu">
                                    <li><a href="/incidentes">Ver Lista</a></li>
                                    <li><a href="/incidentes/abrir">Abrir Incidente</a></li>
                                </ul>
                            </li>
                        {{/if}}

                        {{#if ADMINISTRADOR_PLATAFORMA}}

                            <li><a href="/carga-masiva">Carga Masiva</a></li>

                            <li class="menu-item">Administrar
                                <ul class="sub-menu">
                                    <li><a href="/administracion/usuarios">Usuarios</a></li>
                                    <li><a href="/administracion/comunidades">Comunidades</a></li>
                                </ul>
                            </li>

                        {{/if}}

                        {{#if ORGANISMO_DE_CONTROL}}

                            <li><a href="/rankings">Rankings</a></li>
                        {{/if}}

                        {{#if PRESTADORA_DE_SERVICIO}}

                            <li><a href="/rankings">Rankings</a></li>
                        {{/if}}

                        <li class="menu-item"><u>Logueado: {{username}}</u>
                            <ul class="sub-menu">
                                <li><a href="/logout">Cerrar Sesión</a></li>
                            </ul>
                        </li>

                    {{else}}
                        <li><a href="/login"><u>Iniciar Sesión</u></a></li>
                        <li><a href="/registrarse"><u>Registrarse</u></a></li>
                    {{/if}}
                </ul>

            </nav>

        </div>

    </header>
    <div class = "main-container">
        {{#block "contenido"}}
        {{/block}}
    </div>

</body>

</html>