<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sistema de Apoyo a Comunidades con Movilidad Reducida</title>
</head>
<body>
    <header>
        <div>
            <h1> <a href="">S.A.C.M.V.</a></h1>

            <nav class ="main-nav">
                <ul>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    {{#if logeado}}
                        <li><u>{{username}}</u></li>
                    {{else}}
                        <li><a href="login"><u>Iniciar Sesión</u></a></li>
                    {{/if}}
                </ul>

            </nav>

        </div>

    </header>
    <div class = "main-container">
        {{#block "contenido"}}
        {{/block}}
    </div>

</body>

</html>